body {
  background-color: #111;
  color: #fff;
}
button {
  background-color: red;
  color: black;
  /* transition: all linear 1s; */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

button:hover {
  background-color: green;
  color: white;
}
