* {
  margin: 0;
  padding: 0;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

#bg {
  width: 100%;
  height: 100%;
  background-color: lightskyblue;

  display: flex;
  flex-wrap: nowrap;
}

.car {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: crimson;
  border: 4px solid white;
}
